{% extends "base.html" %}

{% block content %}
<div ng-controller="RarityCtrl" code="{{ set_code }}">
  <h2>Cards ({{ card_list|length }})</h2>

  <ul class="nav nav-pills">
  {% for expansion in expansions %}
    <li class="nav-item">
      <a class="nav-link {% if set_code == expansion.code %}active{% endif %}" href="{% url 'cards:show' expansion.code %}">{{ expansion.name }}</a>
    </li>
  {% endfor %}
  </ul>
  <h3>Stats</h4>

  <table class="table table-bordered table-striped">
    <tr>
      <td>Owned</td>
      <td>{{ owned.count }} / {{ distinct_total }}</td>
      <td>{{ owned_diff }}</td>
    </tr>
    <tr>
      <td>Percentage Owned</td>
      <td>{{ owned_percentage }}%</td>
      <td></td>
    </tr>
    <tr>
      <td>Total</td>
      <td>{{ total_owned }} / {{ max_count }}</td>
      <td>{{ total_diff }}</td>
    </tr>
    <tr>
      <td>Total Percentage</td>
      <td>{{ total_percentage }}%</td>
      <td></td>
    </tr>
  </table>

  <div class="row">
    {% for rarity, stats in rarity.items %}
    <div class="col-md-3 {{ rarity|lower }}">
      <a href="?rarity={{ rarity }}" class="{{ rarity|lower }}">{{ rarity }}</a> - {{ stats.own }} / {{ stats.total }}
      <div id="{{ rarity|lower }}-chart">
      </div>
    </div>
    {% endfor %}
  </div>

  <table class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
      <th>Count</th>
      <th>Rarity</th>
    </tr>
    {% for card in card_list %}
    <tr>
      <td>
        <a class="hearthstone-card {{ card.rarity|lower }}"
           data-toggle="modal"
           data-target="#image-modal"
           data-content="{{ card.image_url }}"
           data-title="{{ card.name }}">{{ card.name }}</a>
      </td>
      <td>{{ card.count }} / {{ card.max_count }}</td>
      <td class="{{ card.rarity|lower }}">{{ card.rarity }}</td>
    </tr>
    {% endfor %}
  </table>
  {% include "cards/image_modal.html" %}
</div>
{% endblock %}
